.background {
  background-color: #0f172a;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  font-family: Roboto;
}
.heading {
  color: white;
  font-size: 30px;
  font-weight: bold;
}
.imgContainer {
  display: flex;
  flex-direction: row;
}
